<template>
  <div>
    <p class="title-process">Processed client</p>
    <div>
      <p class="text-process">
        <span class="text-bold">Idaho:</span>Marsha Hill, Jordan Kemmer, Homer Gutkowski
      </p>
      <p class="text-process">
        <span class="text-bold">West Virginia:</span>Lary Nienrow, Ms. Edith Schmeler, Mr. Stella Bode
      </p>
      <p class="text-process">
        <span class="text-bold">Vermont:</span>Cedric Hoppe, Orlando O'Reilly, Jenny Jacobi
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "PROCESS"
};
</script>

<style lang="scss" src="./style.scss">
</style>