<template>
  <div class="home">
    <!-- <Modal @close="toggleModal" :modalActive="modalActive">
      <div class="modal-content" />
    </Modal>
    <button class="add-btn" @click="toggleModal">Modal</button>-->
    <div class="add_view">
      <button class="add-btn" @click="addAtm(atmName)">Add ATM</button>
      <input
        type="text"
        v-model="atmName"
        id="name"
        class="input-atm-name"
        placeholder="Enter ATM Name..."
      />
    </div>
    <!-- <h5>{{atmName}}</h5> -->
    <div class="atm-list">
      <div class="atm-item" v-for="Atms in data.atm" v-bind:key="Atms.id">
        <button class="delete-btn" @click="deleteATM(Atms)">
          <img src="../../assets/closeIcon.png" class="delete-icon" alt="delete-icon" />
        </button>
        <img src="../../assets/iconsAtm.png" alt="atmIcon" class="atm-icon" />
        <h3 class="status">{{Atms.status}}</h3>
        <h4 class="client">{{Atms.client}}</h4>
        <div class="align-spacebetween">
          <img src="../../assets/userIcon.png" alt="user" class="user-icon" />
          <div>
            <p class="name">{{Atms.name}}</p>
            <p class="pending">Pending transactions: {{Atms.transaction}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import { computed } from "vue";
// import axios from "axios";
// import { useStore } from "vuex";
// import store from "../../store";
// import { ref } from "vue";
// import Modal from "../CreateAtm/CreateAtm.vue";
import { mapState } from "vuex";

export default {
  name: "ATM",
  components: {
    // Modal
  },
  data() {
    // const modalActive = ref(false);
    // const toggleModal = () => {
    //   modalActive.value = !modalActive.value;
    // };
    return {
      Atms: [],
      // modalActive, toggleModal,
      atmName: ""
    };
  },

  computed: {
    ...mapState(["data"])
  },

  created() {
    setInterval(() => {
      this.$store.dispatch("AxiosData");
    }, 100);
  },

  mounted() {
    this.$store.dispatch("AxiosData");
  },

  methods: {
    say(message) {
      alert(message);
    },

    deleteATM(atm) {
      this.$store.dispatch("DeleteAtm", atm);
    },

    addAtm(newATM) {
      if (this.atmName.length > 0) {
        this.$store.dispatch("addATM", newATM);
        this.atmName = "";
      } else {
        alert("Enter ATM name");
      }
    }
  }
};
</script>

<style lang="scss" src="./style.scss">
</style>