.add-btn {
  background: #2e64fe;
  color: #fff;
  width: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-width: 0px;
  margin-bottom: 15px;
}

.delete-btn {
  align-self: flex-end;
  border: none;
  background: none;
}

.atm-icon {
  width: 120px;
  height: 160px;
}

.atm-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.atm-item {
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 185px;
  border-radius: 5px;
  border: 1px #aaa solid;
  margin-right: 15px;
  margin-bottom: 10px;
}

.delete-icon {
  width: 20px;
  height: 20px;
  background: #fff;
}

.user-icon {
  width: 30px;
  height: 35px;
}

.status {
  color: red;
  margin-top: 10px;
  margin-bottom: 5px;
}

.client {
  margin-top: 5px;
  margin-bottom: 15px;
}

.align-spacebetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: ;
}

.name {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}

.pending {
  font-size: 14px;
  margin: 0px;
}

.input-atm-name {
  width: 60%;
  padding: 5px;
  border: 1px solid #aaa;
  margin-bottom: 30px;
  margin-left: 20px;
}

.home {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  .modal-content {
    display: flex;
    flex-direction: column;
    h1,
    p {
      margin-bottom: 16px;
    }
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
    }
  }
}
