<template>
  <div>
    <p class="title-queue">Queue</p>
    <div class="content-queue">
      <div class="queue-item" v-for="queue in Data" v-bind:key="queue.id">
        <img src="../../assets/userIcon.png" alt="user" class="user-icon" />
        <div>
          <p class="text-item">Name: {{queue.name}}</p>
          <p class="text-item">transactions: {{queue.transaction}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import { ref } from "vue";
// import axios from "axios";
import { computed } from "vue";
import store from "../../store";

export default {
  name: "QUEUE",
  data() {
    const Data = computed(() => store.state.data.queue);

    return {
      Data
    };
  },

  created() {
    this.$store.dispatch("AxiosData");
  }
};
</script>

<style lang="scss" src="./style.scss">
</style>