.title-queue {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.content-queue {
  background: #aaa;
  border-radius: 5px;
  padding: 5px 10px;
  width: 300px;
  height: 315px;
  overflow-y: auto;
}

.user-icon {
  width: 30px;
  height: 35px;
  margin-right: 5px;
}

.queue-item {
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  margin-top: 3px;
  margin-bottom: 5px;
}

.text-item {
  font-size: 14px;
  margin: 3px;
}
