<template>
  <transition name="modal-animation">
    <div v-show="modalActive" class="modal">
      <transition name="modal-animation-inner">
        <div v-show="modalActive" class="modal-inner">
          <!-- <slot /> -->
          <h3>Add ATM</h3>
          <h4>{{atmName}}</h4>
          <input
            type="text"
            v-model="atmName"
            id="name"
            class="input-atm-name"
            placeholder="Enter ATM Name..."
          />
          <div class="bottom">
            <button @click="addAtm(atmName)" class="add" type="button">Add</button>
            <button @click="close" class="close" type="button">Close</button>
          </div>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
export default {
  props: ["modalActive"],
  setup(props, { emit }) {
    const close = () => {
      emit("close");
    };
    return { close, atmName: "" };
  },

  methods: {
    addAtm(atm, { emit }) {
      this.$store.dispatch("addATM", atm);
      const close = () => {
        emit("close");
      };
      return { close };
    }
  }
};
</script>

<style  lang="scss" src="./style.scss"/>

