<template>
  <div id="app">
    <div class="top">
      <Atm class="width1" />
      <Queue class="width2" />
    </div>
    <Process />
  </div>
</template>

<script>
import Atm from "./components/Atm/Atm.vue";
import Queue from "./components/Queue/Queue.vue";
import Process from "./components/Process/Process.vue";

export default {
  name: "App",
  components: { Atm, Queue, Process }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.width1 {
  width: 74%;
}

.width2 {
  width: 25%;
}
</style>
